@charset "utf-8";
/* CSS Document */
.swiper-pagination-bullet-active {
  background-color: #FB5B46 !important;
  color: #fff !important;
  cursor: pointer;
}
.swiper-pagination-bullet {
  display: block !important ;
  border-radius: 0 !important;
  background: #fff;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active:after {
  content: '';
  display: block;
  border-width: 7px 13px;
  border-color: transparent transparent transparent #FF8878;
  border-style: solid;
  position: absolute;
  left: 105%;
  top: 10px;
}
#certify {
  position: relative;
  width: 1000px;
  margin-left: 200px;
}
.swiper-container {
  width: 600px;
  margin: 0 auto;
}
#certify .swiper-container {
  padding-bottom: 60px;
}
#certify .swiper-slide {
  width: 208px;
  height: 364px;
  background: #fff;
  box-shadow: 0 8px 30px #ddd;
}
#certify .swiper-slide img {
  display: block;
}
#certify .swiper-slide p {
  line-height: 98px;
  padding-top: 0;
  text-align: center;
  color: #636363;
  font-size: 1.1em;
  margin: 0;
}
#certify .swiper-pagination {
  width: 100%;
  bottom: 20px;
}
#certify .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
  border: 3px solid #fff;
  background-color: #d5d5d5;
  width: 10px;
  height: 10px;
  opacity: 1;
}
#certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
  border: 3px solid #00aadc;
  background-color: #fff;
}
#certify .swiper-button-prev {
  left: -30px;
  width: 45px;
  height: 45px;
  background: url(../images/wm_button_icon.png) no-repeat;
  background-position: 0 0;
  background-size: 100%;
}
#certify .swiper-button-prev:hover {
  background-position: 0 -46px;
  background-size: 100%;
}
#certify .swiper-button-next {
  right: -30px;
  width: 45px;
  height: 45px;
  background: url(../images/wm_button_icon.png) no-repeat;
  background-position: 0 -93px;
  background-size: 100%;
}
#certify .swiper-button-next:hover {
  background-position: 0 -139px;
  background-size: 100%;
}
#hnmservice {
  position: relative;
  width: 1000px;
  margin-left: 200px;
}
#certify1 {
  width: 600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
#hnmservice #certify1 {
  padding-bottom: 60px;
}
#hnmservice .swiper-slide {
  width: 208px;
  height: 364px;
  background: #fff;
  box-shadow: 0 8px 30px #ddd;
}
#hnmservice .swiper-slide img {
  display: block;
}
#hnmservice .swiper-slide p {
  line-height: 98px;
  padding-top: 0;
  text-align: center;
  color: #636363;
  font-size: 1.1em;
  margin: 0;
}
#hnmservice .swiper-pagination {
  width: 100%;
  bottom: 20px;
}
#hnmservice .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
  border: 3px solid #fff;
  background-color: #d5d5d5;
  width: 10px;
  height: 10px;
  opacity: 1;
}
#hnmservice .swiper-pagination-bullets .swiper-pagination-bullet-active {
  border: 3px solid #00aadc;
  background-color: #fff;
}
#hnmservice .swiper-button-prev {
  left: -30px;
  width: 45px;
  height: 45px;
  background: url(../images/wm_button_icon.png) no-repeat;
  background-position: 0 0;
  background-size: 100%;
}
#hnmservice .swiper-button-prev:hover {
  background-position: 0 -46px;
  background-size: 100%;
}
#hnmservice .swiper-button-next {
  right: -30px;
  width: 45px;
  height: 45px;
  background: url(../images/wm_button_icon.png) no-repeat;
  background-position: 0 -93px;
  background-size: 100%;
}
#hnmservice .swiper-button-next:hover {
  background-position: 0 -139px;
  background-size: 100%;
}
.slider-phone-bg {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 2;
}
