/*新媒体培训*/
/*2.课程内容*/
.nmt-course-content .ofa-server-range-content .row .per25 .item-box .item .pic {
  min-height: 120px;
}
.nmt-course-content .ofa-server-range-content .row .per25 .item-box .item .text h2 {
  font-size: 18px;
}
.nmt-course-content .ofa-server-range-content .row .per25:last-of-type .item-box .item {
  background-color: #fff;
}
.nmt-course-content .ofa-server-range-content .row .per25:last-of-type .item-box .item .text h2 {
  color: #3A2628;
}
/*2.课程内容*/
/*3.我们的客户*/
/*3.我们的客户*/
/*新媒体培训*/
