@media screen and (min-width: 1920px) {
  html {
    font-size: 16px;
    color: #3A2628;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  border: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .container {
    width: 970px;
  }
}
.container:after,
dt:after,
dl:after {
  content: " ";
  display: block;
  clear: both;
}
.row:before,
.row:after,
.row-inner:before,
.row-inner:after,
dt:after,
dl:after {
  display: table;
  content: " ";
}
.row:after,
.row-inner:after {
  clear: both;
}
:after,
:before {
  box-sizing: border-box;
}
.rel {
  position: relative;
}
.per50 {
  width: 50%;
  float: left;
}
.per33 {
  width: 33.3333%;
  float: left;
}
.per25 {
  width: 25%;
  float: left;
}
.per20 {
  width: 20%;
  float: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.padding10 {
  padding: 10px;
}
/*头部开始*/
.header {
  width: 100%;
  height: 74px;
  line-height: 74px;
}
.header .container .logo {
  width: 103px;
  height: 100%;
  line-height: 74px;
  float: left;
}
.header .container .logo a {
  width: 100%;
  height: 100%;
  line-height: 74px;
  display: block;
}
.header .container .logo a img {
  vertical-align: middle;
}
.header .container .nav-btns {
  float: right;
}
.header .container .nav-btns ul {
  list-style: none;
  float: right;
}
.header .container .nav-btns ul li {
  float: left;
  position: relative;
  transition: all 0.6s;
  -ms-transition: all 0.6s;
  min-width: 91px;
}
.header .container .nav-btns ul.nav-btn > li:after {
  content: '';
  display: none;
  border-color: transparent transparent #F95544 transparent;
  border-style: solid;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-width: 0;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transition: all 0.6s;
  -ms-transition: all 0.6s;
}
.header .container .nav-btns ul.nav-btn > li.tria-active:after {
  border-width: 10px 8.5px;
  display: inline-block;
}
.header .container .nav-btns ul li.active a {
  color: #F64937;
}
.header .container .nav-btns ul li a {
  text-decoration: none;
  color: #2C1A1B;
  font-size: 16px;
  padding: 0 18px 0 17px;
  display: block;
  height: 74px;
  line-height: 74px;
  text-align: center;
  transition: all 0.6s;
  -ms-transition: all 0.6s;
}
/*.header .container .nav-btns>ul>li:hover>a {
  color: #F64937;
  border-bottom: 1px solid #F95544;
}*/
.header .container .nav-btns .sec-menu {
  position: absolute;
  top: 75px;
  /*width: 360px;*/
  z-index: 9;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  /*display: none;*/
  overflow: hidden;
  transition: height 0.4s ease;
  -ms-transition: height 0.4s ease;
  /*height: 0;*/
  padding: 0 12px;
  display: none;
}
/*.header .container .nav-btns>ul>li:hover .sec-menu {
  border: 1px solid #efefef;
}
.header .container .nav-btns>ul>li.product:hover .sec-menu {
  height: 245px;
}
.header .container .nav-btns>ul>li.solution:hover .sec-menu {
  height: 210px;
}
.header .container .nav-btns>ul>li.about-us:hover .sec-menu {
  height: 210px;
}*/
.header .container .nav-btns .sec-menu.au-nav {
  width: auto;
}
.header .container .nav-btns .sec-menu ul {
  float: left;
  /*width: 119px;*/
}
.header .container .nav-btns .sec-menu ul li {
  float: none;
}
.header .container .nav-btns ul > li > .sec-menu ul li a {
  font-size: 13px;
  color: #575555;
  min-width: 119px;
}
.header .container .nav-btns .sec-menu ul li:first-of-type {
  border-bottom: 1px solid #EDEDEF;
  position: relative;
}
.header .container .nav-btns .sec-menu ul li:first-of-type:after {
  content: '';
  height: 16px;
  width: 1px;
  background-color: #D5D5D7;
  display: inline-block;
  position: absolute;
  margin-left: 8px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.header .container .nav-btns .sec-menu ul:last-of-type li:first-of-type:after {
  content: '';
  height: 16px;
  width: 0;
}
.header .container .nav-btns .sec-menu ul li:first-of-type a {
  font-size: 14px;
  color: #575555;
}
.header .container .nav-btns .sec-menu ul:first-of-type li {
  /*margin-left: 12px;*/
}
.header .container .nav-btns .sec-menu ul:last-of-type li {
  /*margin-right: 12px;*/
}
.header .container .nav-btns .sec-menu ul li a {
  text-decoration: none;
  color: #2C1A1B;
  font-size: 13px;
  padding: 0;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
}
.header .container .nav-btns .sec-menu ul li a:hover {
  color: #F95544;
}
.header .container .nav-btns ul.login-btn li:last-of-type {
  margin-right: 0;
  background-color: #F64937;
}
.header .container .nav-btns ul.login-btn li:last-of-type a {
  color: #fff;
}
.header .container:after {
  clear: both;
}
/*头部结束*/
/*主体开始*/
.main .main-slider {
  width: 100%;
  height: 432px;
  position: relative;
  overflow: hidden;
}
.main .main-slider .swiper-wrapper .swiper-slide {
  width: 100%;
  max-width: 1920px;
  height: 100%;
}
.main .main-slider .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
.main .main-slider .swiper-pagination {
  bottom: 18px;
  right: 18.75%;
  left: auto;
  position: absolute;
  width: auto;
}
.main .main-slider .swiper-pagination span {
  display: inline-block;
  width: 28px;
  height: 9px;
  border-radius: 0;
  background-color: #F9A097;
}
.main .main-slider .swiper-pagination span.swiper-pagination-bullet-active,
.main .main-slider .swiper-pagination span.swiper-pagination-bullet:hover {
  background-color: #D83524;
}
.main .product h2 {
  text-align: center;
  color: #3A2628;
  font-size: 26px;
  letter-spacing: 75;
  margin-top: 61px;
  margin-bottom: 0;
  font-weight: 500;
}
.main .product h3 {
  text-align: center;
  color: #3A2628;
  font-size: 16px;
  margin-top: 18px;
  margin-bottom: 0;
  font-weight: 500;
}
.main .product ul {
  list-style: none;
}
.main .product ul li {
  float: left;
  text-align: center;
  width: 33%;
  height: 250px;
  padding-top: 91px;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
}
.main .product ul li img {
  vertical-align: middle;
}
.main .product ul li h3 {
  font-size: 16px;
}
.main .product ul li.active {
  border-bottom: 1px solid red;
}
.main .product ul li.active h3 {
  color: #E63545;
  font-weight: 600;
}
.main .product .content {
  background-color: #F9F9F9;
  height: 376px;
  max-width: 1920px;
  margin: 0 auto;
}
.main .product .content .container {
  display: none;
}
.main .product .content .container.display {
  display: block;
}
.main .product .content .per33 {
  width: 33.3333%;
  float: left;
  height: 188px;
  display: flex;
  position: relative;
}
.main .product .content .per33 a {
  display: block;
  height: 100%;
  width: 100%;
}
.main .product .content .per33 .item {
  display: inline-block;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}
.main .product .content .per33 .item h3 {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
}
.main .product .content .per33 .item p {
  font-size: 14px;
  color: #959493;
  text-align: left;
}
.main .product .content .per33:hover {
  background-color: #F1F1F1;
}
.main .solution .title h2 {
  text-align: center;
  color: #3A2628;
  font-size: 26px;
  letter-spacing: 75;
  margin-top: 61px;
  margin-bottom: 0;
  font-weight: 500;
}
.main .solution .title h3 {
  text-align: center;
  color: #3A2628;
  font-size: 16px;
  margin-top: 18px;
  margin-bottom: 36px;
  font-weight: 500;
}
.main .solution .content {
  height: 503px;
  background-color: #ddd;
}
.main .solution .content .per33 {
  width: 33.333%;
  float: left;
  height: 100%;
  position: relative;
}
.main .solution .content .per33 .item {
  position: absolute;
  top: 50%;
  margin-top: -142px;
  display: inline-block;
  height: 282px;
  width: 210px;
  left: 50%;
  margin-left: -105px;
}
.main .solution .content .per33 .item .icon,
.main .solution .content .per33 .item h3 {
  text-align: center;
  color: #fff;
}
.main .solution .content .per33 .item p {
  color: #fff;
}
.main .solution .content .per33 .item .icon {
  margin-bottom: 28px;
}
.main .solution .content .per33 .item h3 {
  margin-bottom: 45px;
}
.main .solution .content .per33.active-case {
  background: url(../images/activecasebg.png);
}
.main .solution .content .per33-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.main .solution .content .per33-bg .all-system {
  display: none;
}
.main .solution .content .per33-bg .all-system.active {
  display: block;
}
.main .solution .content .per33-bg .gove-affair {
  display: none;
}
.main .solution .content .per33-bg.active,
.main .solution .content .per33-bg:hover {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 5, 5, 0.5);
}
.main .solution .content .per33-bg.active,
.main .solution .content .per33-bg:hover {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 5, 5, 0.5);
}
.main .solution .content .per33.all-system {
  background: url(../images/allsystembg.png);
}
.main .solution .content .per33.all-system .btn {
  padding: 16px 36px;
  border: 1px solid #fff;
  margin-bottom: 28px;
  text-align: center;
}
.main .solution .content .per33.all-system .btn.active,
.main .solution .content .per33.all-system .btn:hover {
  position: relative;
  background-color: #fff;
}
.main .solution .content .per33.all-system .btn.active::before,
.main .solution .content .per33.all-system .btn:hover::before {
  content: '<';
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
}
.main .solution .content .per33.all-system .btn.active::after,
.main .solution .content .per33.all-system .btn:hover::after {
  content: '>';
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
}
.main .solution .content .per33.all-system .btn.active a,
.main .solution .content .per33.all-system .btn:hover a {
  color: rgba(255, 5, 5, 0.5);
}
.main .solution .content .per33.all-system .btn a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 0;
}
.main .solution .content .per33.added-serviceactive {
  background: url(../images/addedserviceactivebg.png);
}
.main .customer {
  background-color: #F9F9F9;
  max-width: 1920px;
  margin: 0 auto;
}
.main .customer .title h2 {
  text-align: center;
  color: #3A2628;
  font-size: 26px;
  letter-spacing: 75;
  margin-top: 1px;
  margin-bottom: 0;
  font-weight: 500;
  padding-top: 68px;
}
.main .customer .title h3 {
  text-align: center;
  color: #3A2628;
  font-size: 16px;
  margin-top: 18px;
  margin-bottom: 0;
  font-weight: 500;
}
.main .customer .content {
  height: 330px;
  margin-top: 56px;
}
.main .customer .content .row {
  margin-bottom: 36px;
  overflow: hidden;
}
.main .customer .content .row .per20 {
  width: 20%;
  float: left;
}
.main .customer .content .row .per20 .item {
  width: 192px;
  height: 123px;
  background-color: #FDFDFD;
  text-align: center;
  overflow: hidden;
}
.main .customer .content .row .per20 .item img {
  display: inline-block;
  vertical-align: middle;
  transform: scale(1);
  transition: all 0.8s;
  width: 100%;
}
.main .customer .content .row .per20 .item:hover img {
  vertical-align: middle;
  transform: scale(1.2);
}
.main .customer .btn {
  text-align: center;
  height: 70px;
}
.main .customer .btn a {
  color: #F85948;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 500;
}
.main .information .title h2 {
  text-align: center;
  color: #3A2628;
  font-size: 26px;
  letter-spacing: 75;
  margin-top: 61px;
  margin-bottom: 0;
  font-weight: 500;
}
.main .information .content {
  margin-top: 46px;
  overflow: hidden;
}
.main .information .content .per33 {
  width: 33.3333%;
  float: left;
}
.main .information .content .per33 .item {
  width: 95%;
  height: 410px;
  border: 1px solid #BFBFBF;
}
.main .information .content .per33 .item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #3A2628;
}
.main .information .content .per33 .item a .postimg {
  width: 100%;
  height: 275px;
}
.main .information .content .per33 .item a .postimg img {
  width: 100%;
  height: 100%;
}
.main .information .content .per33 .item a p {
  margin-top: 33px;
  padding: 0 1em;
  margin-bottom: 36px;
  height: 34px;
}
.main .information .content .per33 .item a .releasedate {
  margin-bottom: 11px;
  padding: 0 1em;
}
.main .information .content .per33 .item a .releasedate span {
  position: relative;
  margin-right: 7px;
  top: 1px;
}
.main .information .more {
  margin: 80px 0 99px;
  text-align: center;
}
.main .information .more a {
  width: 165px;
  height: 48px;
  background-color: #F64937;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  line-height: 48px;
}
/*主体结束*/
/*页尾开始*/
.footer {
  padding-top: 66px;
  width: 100%;
  height: 350px;
  background-color: #252222;
  max-width: 1920px;
  margin: 0 auto;
}
.footer .main-footer {
  border-bottom: 1px solid #464545;
  background-color: #252222;
}
.footer .container .row {
  overflow: hidden;
}
.footer .widget li:hover a {
  color: #f64937;
}
.footer .container .row .per16 {
  width: 16.6666667%;
  float: left;
}
.footer .container .row .per66 {
  width: 66.666666%;
  float: left;
}
.footer .container .row .per66 .row .per20 {
  width: 20%;
  float: left;
}
.footer .container .row .per66 .row .per60 {
  width: 60%;
  float: left;
}
.footer .container .row .qrcode-box {
  color: #AEA9A9;
}
.footer .container .row .qrcode-box .title {
  padding: 15px 0;
  font-size: 12px;
}
.footer .container .row .qrcode-box .title span {
  position: relative;
  top: 5px;
  padding-right: 3px;
}
.footer .container .row .friendship-link {
  text-align: center;
  padding-top: 53px;
  padding-bottom: 14px;
}
.footer .container .row .friendship-link a {
  font-size: 14px;
  color: #AEA9A9;
}
.footer .copyright {
  background-color: #252222;
  padding: 17px 0;
  text-align: center;
  color: #646161;
  font-size: 14px;
}
.footer a {
  color: #AEA9A9;
  font-size: 14px;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  margin-bottom: 17px;
}
.footer ul li:last-of-type {
  margin-bottom: 0;
}
.footer h3 {
  color: #fff;
  padding-bottom: 30px;
}
/*页尾结束*/
