/*VR制作开始*/
/*2.政务VR应用场景开始*/
/*与表情包页面组件通用*/
/*2.政务VR应用场景结束*/
/*3.政府部门使用VR全景技术的优势开始*/
.vr-advantage {
  background-color: #F9F9F9;
  padding-bottom: 139px;
}
.vr-advantage .vr-app-content .per25 {
  padding-top: 83px;
  height: 306px;
}
.vr-advantage .vr-app-content .per25 .vr-advant-box {
  height: 306px;
  width: 95%;
  position: relative;
}
.vr-advantage .vr-app-content .per25 .vr-advant-box .vr-advant-item .pic {
  position: absolute;
  text-align: center;
  width: 100%;
  top: -80px;
  z-index: 1;
}
.vr-advantage .vr-app-content .per25 .vr-advant-box .vr-advant-item .text {
  padding-top: 125px;
  height: 233px;
  box-shadow: -7px 0px 38px 2px rgba(151, 23, 23, 0.15);
  position: relative;
}
.vr-advantage .vr-app-content .per25 .vr-advant-box .vr-advant-item .text p {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  font-size: 15px;
  color: #adadad;
}
/*3.政府部门使用VR全景技术的优势结束*/
/*4.案例展示开始*/
/*4.案例展示结束*/
/*VR制作开始*/
